body.light-mode {
  background-color: #e3f5f3;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #10171d;
  color: #2dd4bf;
}
body.dark-mode .navbar {
  background-color: #1b2938;
}
body.dark-mode .dark-mode-toggle > button {
  color: #999;
}
body.dark-mode .dark-mode-toggle > button:last-child {
  color: lightblue;
}
.dark-mode-toggle {
  display: flex;
  margin: 0 auto;
}
.dark-mode-toggle > button {
  font-size: 1.2em;
  background: none;
  border: none;
  color: #ffe600;
  cursor: pointer;
  transition: color 0.3s ease;
}
.dark-mode-toggle > button:last-child {
  color: #666;
}
.dark-mode-toggle > button:focus {
  outline: none;
}
.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}
input[type='checkbox'].darkmodeToggler {
  width: 30px;
  height: 10px;
  background: #03151f;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}
input[type='checkbox'].darkmodeToggler:checked + label {
  left: 20px;
}
input[type='checkbox'].darkmodeToggler:focus-visible {
  outline: solid 2px white;
}
input[type='checkbox'].darkmodeToggler + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  opacity: 0.9;
  background-color: #2dd4bf;
}
